body {
	width: 100%;
	font-family: "Arial", sans-serif; 
}

h2 {
	margin: 40px 0px 0px 0px;
}

form label {
	display: block;
	margin: 10px 0px 0px 0px;
}

form textarea {
	width: 100%;
}

button {
	display: block;
	background-color: #ffdddd;
	border: 1px solid #d3d3d3;
	margin: 5px 0px 0px 0px;
	cursor: pointer;
}


#message, .message {
	margin: 5px 0px 0px 0px;
	display: none;
	background-color: #ffc;
	font-size: 80%;
}

.errormessage {
	margin: 5px 0px 0px 0px;
	display: none;
	background-color: #ff7777;
	font-size: 80%;
}

#ordliste {
	padding: 0px;
}

#ordliste li {
	list-style: none;
}

.ord {
	border: 1px solid black;
	margin: 0px 0px 10px 0px;
}

.ord .forslag {
	float: left;
	font-weight: bold;
}

.ord .kilde {
	float: right;
	font-size: 80%;
}

.ord .stemming {
	float: right;
}

.ord .stemming a {
	color: #fff;
	padding: 1px 8px;
	margin: 0px 0px 0px 14px;
	text-decoration: none;
}

.ord .stemmer {
	margin: 0px 5px;
}

.ord .stemmer .stemmefor {
	color: #0f0;
}

.ord .stemmer .stemmemot {
	color: #f00;
}


.ord .stemming .stemmefor {
	background-color: #0f0;
}

.ord .stemming .stemmemot {
	background-color: #f00;
}

.dagens-ord li.visible 	{ display:inline }
.dagens-ord li.hidden  	{ display:none }

.dagens-ord { border: 1px solid #D3D3D3; padding: 0.5em 1em; }

.dagens-ord h2			{ margin-bottom:2pt }
.dagens-ord ul			{ padding:5px;background-color:#F5F5F5;margin:0;color:#555555 }

.dagens-ord p			{ margin:0;	margin-left:6pt;	color:#C5C5C5; }

#main {
	margin: 20px auto;
	width: 600px;
}

.toppmeny { 
	padding: 0px;
}

.toppmeny li {
	display: inline;
	margin: 0px 5px 0px 0px;
	text-decoration: none;
}

.toppmeny li a {
	border: 1px solid #d3d3d3;
	background-color: #eeefff;
	padding: 3px 6px;
	text-decoration: none;
}
	
.comments .alt {
	background-color: #FAFAFA;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE
}

.comments ul {
	padding-left: 10px
}

.comments li {
	list-style-type: none; 
	margin: 10px 0; 
	padding: 10px 
}

.comment-metadata {
	background: transparent no-repeat scroll left top; 
	padding-left: 30pt;
	min-height: 36px
}

.comment-data {
	margin: 10px 5px 10px 0;
}
