body {
	width: 100%;
	font-family: "Arial", sans-serif; 
}

h2,h3 {
	margin: 20px 20px 0 20px;
}

form label {
	display: block;
	margin: 10px 0px 0px 0px;
}

form textarea {
	width: 100%;
}

button {
	display: block;
	background-color: #ffdddd;
	border: 1px solid #d3d3d3;
	margin: 5px 0px 0px 0px;
	cursor: pointer;
}

#message, .message {
	display: none;
	background-color: #ffc;
	font-size: 80%;
	border-top: 1px solid #ff0;
	border-bottom: 1px solid #ff0;
	padding: 5px;
}

.errormessage {
	margin: 5px 0px 0px 0px;
	display: none;
	background-color: #ffbbbb;
	font-size: 80%;
	border-top: 1px solid #f00;
	border-bottom: 1px solid #f00;
	padding: 5px;
}

#ordliste {
	padding: 0px;
}

#ordliste li {
	list-style: none;
}

.stemmer .stemmefor {
	color: #0f0;
}

.stemmer .stemmemot {
	color: #f00;
}

.stemming .stemmefor {
	background-color: #0f0;
}

.stemming .stemmemot {
	background-color: #f00;
}

.dagens-ord li.visible 	{ display:inline }
.dagens-ord li.hidden  	{ display:none }
.boks ul.footer			{ padding:5px;background-color:#F5F5F5;margin:0;color:#555555; }
.boks 					{ border: 1px solid #D3D3D3; padding: 0 }
.boks div					{ margin: 10px 30px 10px 30px; }
.boks p					{ margin: 10px 30px 10px 30px;	color:#C5C5C5; }
.boks .stemming 			{ padding:5px;background-color:#F5F5F5;margin:0; float:right; padding: 1px 8px; }
.boks .stemming a			{ color: #fff; }

li.boks 					{ margin-bottom: 20px }

.boks .tilstand			{ float:right; border: 1px solid #D3D3D3; padding: 10px; width: 60px }
.boks .godkjent			{ background-color: #cec }
.boks .avslaatt			{ background-color: #ecc }

.sokeboks				{ float: right }

#hentneste p				{ color: black; cursor: pointer  }
#hentneste 				{ background-color: #F5F5F5 }

#main {
	margin: 20px auto;
	width: 600px;
}

.toppmeny { 
	padding: 0px;
}

.toppmeny li {
	display: inline;
	margin: 0px 5px 0px 0px;
	text-decoration: none;
}

.toppmeny li a {
	border: 1px solid #d3d3d3;
	background-color: #eeefff;
	padding: 3px 6px;
	text-decoration: none;
}
	
.comments .alt {
	background-color: #FAFAFA;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE
}

.comments ul {
	padding-left: 10px
}

.comments li {
	list-style-type: none; 
	margin: 10px 0; 
	padding: 10px 
}

.comment-metadata {
	background: transparent no-repeat scroll left top; 
	padding-left: 30pt;
	min-height: 36px
}

.comment-data {
	margin: 10px 5px 10px 0;
}

.inline-edit .form { display : none }
.inline-edit { display: inline }

label.error { display: inline; color: #f00; }
#skjema input[type='submit'] { display:block; }
#skjema input[type='text'] { margin-right: 10px }

/* Bidragsyter */
ul li span#google { color: #c5c5c5; }

/* Flexbox */
/* Input textbox - do not specify a width here, it will be overwritten */
.ffb-input {
	float:left;
	color:#000; /* must specify along with watermark color */
}
/* Color of watermark, if present */
.ffb-input.watermark { /* added and removed dynamically */
	color:#888; /* must specify along with input color */
}
/* Drop-down arrow, with sprited image */
.ffb-arrow {
	float:left;
	width:18px;
	height:22px;
	background-image:url(../img/sel.gif);
}
.ffb-arrow.out { /* css sprite technique */
	background-position:0;
}
.ffb-arrow.over { /* css sprite technique */
	background-position:-18px 0;
}
.ffb-arrow.active { /* css sprite technique */
	background-position:-36px 0;
}
.ffb-no-results 
{
	padding: 2px;
	color:#888;
	font-style:italic;
}
/* Container for dropdown contents */
.ffb {
	position:absolute; /* this guy's parent div is hard-coded to position:relative */
	overflow:hidden;
	border-left:1px solid #7B9EBD;
	border-right:1px solid #7B9EBD;
	border-bottom:1px solid #7B9EBD;
	background-color:#fff; /* Give it a background-color, so it's not transparent */
}
/* Inner div for dropdown */
.ffb .content {
	overflow:auto;
}
.ffb .content .row {
	border-bottom:1px solid #7B9EBD;
	color:#555;
	height:20px;
	clear:both;
}
.ffb-sel {
	cursor:pointer;
	cursor:hand;
	background-color:#ddd;
}
.ffb-match {
	background-color:#ff9; /* light yellow */
	text-decoration:underline;
	color:#000;
}

/* Paging */
.ffb .paging {
	margin:2px;
	vertical-align:middle;
}
.ffb .page, .ffb a.page {
	font-size:85%;
	padding:2px;
	border:solid 1px #339;
	background-color:#eef;
	margin:2px;
	float:left;
}
.ffb .box {
	width:18px;
	margin:2px;
	float:left;
}
.ffb .summary {
	font-size:85%;
	float:right;
}

/* Unique IDs */
#ffb8 .row .col1 {
	float:left;
	width:132px;
}
#ffb8 .row .col2 {
	float:left;
	width:232px;
}
