<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link type="text/css" href="/css/core.css" rel="stylesheet" />
		<script type="text/javascript" src="http://www.google.com/jsapi"></script>
		<script type="text/javascript">
			google.load("jquery", "1.3.2");
			google.load("jqueryui", "1.7.2");
		</script>
		<script type="text/javascript" src="/js/jquery.flexbox.min.js"></script>
		<title>Dagens ord</title>
		{% block hode %}{% endblock %}
	</head>
  <body><div id="main">
	<div class="sokeboks"></div>
	<h1>Dagens Ord</h1>
	<ul class="toppmeny">	
		<li><a href='{% url VisDagensOrdHandler %}'>Dagens Ord</a></li>
		<li><a href='{% url NyttOrdHandler %}'>Foreslå ord</a></li>
		<li><a href='{% url TilGodkjenningHandler %}'>Ord på valg</a></li>
		<li><a href='{% url BidragsyterHandler "meg" %}'>Om meg</a></li>
	</ul>
	<h2>{% block overskrift %}Her er overskriften{% endblock %}</h2>
	
    {% block innhold %} Innholdet kommer her...{% endblock %}
  </div>
  <script type="text/javascript">
	$('.sokeboks').flexbox('/ord/sok/', {
		initialValue : '{{ sokeord }}',
		autoCompleteFirstMatch : false,
		arrowQuery : 'a',
		onSelect : function () {
			document.location.href = '/ord/sok/' + this.value;
		}
	});
  </script>
  </body>
</html>
