{% load i18n %}
{% extends "_master.html" %}
{% block overskrift %}{% endblock %}
{% block hode %}
<script src="/js/jquery.jeditable.mini.js"></script>
<style>
.inline-edit .form { display : none }
.inline-edit { display: inline }
</style>
{% endblock %}
{% block innhold %}
<div class="ui-widget ui-widget-content ui-corner-all bidragsyter">
	<h2 class="editable" id="nickname">{{ bidragsyter.visningsnavn }}</h2>
	<ul>
		<li>Google-konto: <span id="google">{{ bidragsyter.googleKonto }}</span></li>
		<li>Twitter-brukernavn: <span id='twitter' class="editable">{{ bidragsyter.twitter|default:"[legg inn]" }}</span></li>
		<li>Bekk-epost: <span id='bekk' class="editable">{{ bidragsyter.bekkAdresse|default:"[legg inn]" }}</span></li>
		<li>Motta Dagens Ord på Bekk-epost: <span id='bekk-mailliste' class="editable-select">{{ bidragsyter.paaBekkMailliste|yesno:"Ja,Nei" }}</span></li>
		<li>Motta Dagens Ord på Gmail-adresse: <span id='google-mailliste' class="editable-select">{{ bidragsyter.paaGoogleMailliste|yesno:"Ja,Nei" }}</span></li>
	</ul>
	{% if edit %}
	<p>(Klikk på teksten for å redigere.)</p>
	{% endif %}
</div>

<div id="comment-dialog">
	<form>
		<label for="kommentar">Kommentar:</label><br />
		<textarea cols="40" rows="5" id="kommentar" name="kommenar"></textarea>
		<input type="hidden" id="kommentar-uri" name="uri" value="urn:dagensordibekk:{{ ord.key }}" />
	</form>
</div>
{% if edit %}
<script type="text/javascript">
$(document).ready(function() {
	$('.editable').editable('{% url BidragsyterHandler %}', { 
         cancel    : 'Avbryt',
         submit    : 'Lagre',
         indicator : 'Lagrer...',
         tooltip   : 'Klikk for å endre...',
		 style     : 'display : inline'
     });
	$('.editable-select').editable('{% url BidragsyterHandler %}', { 
         cancel    : 'Avbryt',
         submit    : 'Lagre',
         indicator : 'Lagrer...',
         tooltip   : 'Klikk for å endre...',
		 style     : 'display : inline',
		 data      : { '1' : 'Ja', '0' : 'Nei', 'selected' : '0' },
		 type      : 'select'
     });
	 
	  
	 
});
</script>
{% endif %}
{% endblock %}