{% load i18n %}
{% extends "_master.html" %}
{% block overskrift %}{% endblock %}
{% block hode %}{% endblock %}
{% block innhold %}
<div class="boks">
	<img src="{{ bidragsyter.gravatarUrl }}" />
	<h2 id="nickname">{{ bidragsyter.visningsnavn }}</h2>
	<ul>
		<li><strong>Google-konto:</strong> <span id="google">{{ bidragsyter.googleKonto }}</span></li>
		<li><strong>Twitter-brukernavn:</strong> <span id='twitter'>{{ bidragsyter.twitter|default:"" }}</span></li>
		<li><strong>Bekk-epost:</strong> <span id='bekk' >{{ bidragsyter.bekkAdresse|default:"" }}</span></li>
		<li><strong>Motta Dagens Ord på Bekk-epost:</strong> <span id='bekk-mailliste'>{{ bidragsyter.paaBekkMailliste|yesno:"Ja,Nei" }}</span></li>
		<li><strong>Motta Dagens Ord på Gmail-adresse:</strong> <span id='google-mailliste'>{{ bidragsyter.paaGoogleMailliste|yesno:"Ja,Nei" }}</span></li>
	</ul>
</div>
{% endblock %}