{% load i18n %}
{% extends "_master.html" %}
{% block hode %}
<link rel="alternate" type="application/atom+xml" title="Dagens Ord Atom Syndication" href="{% url FeedHandler %}" />
{% endblock %}
{% block overskrift %}{% endblock %}
{% block innhold %}

<div class="ui-widget ui-widget-content ui-corner-all dagens-ord" style="padding:2px">
	<div>
		<h2>{{ ord.navn }}</h2>
		<p>foreslått av 
			{% if ord.bidragsyter %}
				<a href="/person/{{ ord.bidragsyter.key }}">{{ ord.bidragsyter.visningsnavn }}</a>
			{% else %}
				{{ ord.bnavn }}
			{% endif %}
			<span id="numberOfLikes"></span>
		</p>
		<blockquote>{{ ord.beskrivelse }}</blockquote>
	</div>
	<ul>
		<li id="like-it-not" class="hidden"><a href="#" id="do-like-it">Jeg liker dette</a></li>
		<li id="like-it" class="hidden"> Du liker dette (<a href="#" id="do-unlike-it">slutt å like</a>)</li>	
	</ul>
</div>

<div id="metadata" class="metadata">
	<h3><a href="#">Mer informasjon</a></h3>
	<div>
		<ul>
			<li>
				Foreslått av 
				{% if ord.bidragsyter %}
					<a href="/person/{{ ord.bidragsyter.key }}">{{ ord.bidragsyter.visningsnavn }}</a>
				{% else %}
					{{ ord.bnavn }}
				{% endif %}
			</li>
			<li>Stemmer (for/mot): {{ ord.stemmerFor|length }}/{{ ord.stemmerMot|length }}
		</ul>
	</div>
	<h3 id="comments"><a href="#">Ingen kommentarer</a></h3>
	<div>
		<ul></ul>
		<button id="comment-new">Kommentér</button>
	</div>
</div>

<div id="comment-dialog">
	<form>
		<label for="kommentar">Kommentar:</label><br />
		<textarea cols="40" rows="5" id="kommentar" name="kommenar"></textarea>
		<input type="hidden" id="kommentar-uri" name="uri" value="urn:dagensordibekk:{{ ord.key }}" />
	</form>
</div>

<script type="text/javascript">
$(document).ready(function() {
	
	var commentSection = $('#comments');

	function insertDataAndUpdateCommentsHeader(data) {
		$('#comments + div ul').empty().append(data);	
		var numberOfComments = $('#comments + div li').size();
		var newText;
		if (numberOfComments == 0) {
			newText = "Ingen kommentarer";
		} else if (numberOfComments == 1) {
			newText = "Én kommentar";
		} else {
			newText = "" + numberOfComments + " kommentarer";
		}
		$('#comments a').text(newText);
	}
	
	$('#metadata')
		.accordion({'collapsible':true, 'active':false, 'autoHeight':false});
	
	$("#comment-new").click(function() { $("#comment-dialog").dialog('open'); });
	$("#comment-dialog").dialog({
		bgiframe: true,
		modal: true,
		autoOpen: false,
		buttons: {
			Kanseller: function() {	$(this).dialog('close'); },
			Send: function() {
				var kommentarFelt = $('#kommentar');
				$.post('{% url LeggInnKommentarHandler %}', { 'kommentar':kommentarFelt.val(), 'uri':$('#kommentar-uri').val() }, function(data) {
					insertDataAndUpdateCommentsHeader(data);
					kommentarFelt.val("");
				},'html');
				$(this).dialog('close');
			}
		}
	});	
	
	function vis(element) {
		element.removeClass('hidden').addClass('visible');
	}
		
	function skjul(element) {
		element.removeClass('visible').addClass('hidden');
	}
	
	$.get('/kommentar/urn:dagensordibekk:{{ ord.key }}', function (data) {
		insertDataAndUpdateCommentsHeader(data);
		commentSection.show('drop');
	}, 'html');
	
	function oppdaterLikerVisning(data) {
		if (data.errorCode != 0)
		{
			alert('Dette er flaut. Noe uforutsett skjedde. Feilkode=' + data.errorCode);
		}
		if (data.likerDuOrdet) {
			skjul($('#like-it-not'));
			vis($('#like-it'));
		} else {
			vis($('#like-it-not'));
			skjul($('#like-it'));
		}
		if (data.numberOfLikes != 0) {
			$('#numberOfLikes').text(", " + data.numberOfLikes + " person" + (data.numberOfLikes == 1 ? "" : "er") + " liker dette ordet");
		} else $('#numberOfLikes').text('');
	}

	$.getJSON('/liker/urn:dagensordibekk:{{ ord.key }}', oppdaterLikerVisning);
		
	$("#do-like-it").click(function() {
		$.post('{% url LikerHandler %}', { 'uri':$('#kommentar-uri').val() }, oppdaterLikerVisning, 'json');
	});
	
	$('#do-unlike-it').click(function() {
		$.ajax({
			url 	: '/liker/urn:dagensordibekk:{{ ord.key }}',
			type 	: 'delete',
			dataType: 'json',
			success	: oppdaterLikerVisning
		});
	});
});
</script>
{% endblock %}