{% load i18n %}{% extends "_master.html" %}
{% block hode %}<link rel="alternate" type="application/atom+xml" title="Dagens Ord Atom Syndication" href="{% url FeedHandler %}" />
<script src="/js/likeit.jquery.js" type="text/javascript"></script>
<script src="/js/comments.jquery.js" type="text/javascript"></script>{% endblock %}
{% block overskrift %}{% endblock %}
{% block innhold %}
<div class="boks dagens-ord">
	<h2>{{ ord.navn }}</h2>
	<p>foreslått av 
		{% if ord.bidragsyter %}
			<a href="{% url BidragsyterHandler ord.bidragsyter.key %}">{{ ord.bidragsyter.visningsnavn }}</a>
		{% else %}
			{{ ord.bnavn|default:"&lt;ukjent&gt;" }}
		{% endif %}
		den {{ ord.forslagstidspunkt|date:"j. N Y" }}
		<span id="numberOfLikes"></span>
	</p>
	<blockquote>{{ ord.beskrivelse }}</blockquote>
	<ul class="footer">
		<li class="hidden"><a href="#">Jeg liker dette</a></li>
		<li class="hidden"> Du liker dette (<a href="#">slutt å like</a>)</li>	
	</ul>
</div>

<div class="comments">
	<h3><a href="#">Ingen kommentarer</a></h3>
	<ul><li></li></ul>
	<form action="">
		<label for="kommentar">Ny kommentar:</label><br />
		<textarea cols="40" rows="5" id="kommentar" name="kommentar"></textarea>
		<input type="hidden" name="uri" value="urn:dagensordibekk:{{ ord.key }}" />
		<button>Kommentér</button>
	</form>
</div>

<script type="text/javascript">
$(document).ready(function() {
	$('.dagens-ord > ul').likeIt({
		id				 		: 'urn:dagensordibekk:{{ ord.key }}',
		urlPost 		 		: '{% url LikerHandler %}',
		urlGetAndDelete  		: '{% url LikerHandler "urn:dagensordibekk:" %}{{ ord.key }}',
		numberOfLikesSelector 	: '.dagens-ord > p > span'
	});
	
	$('.comments').comments({
		urlPost			 		: '{% url LeggInnKommentarHandler %}',
		urlGetAndDelete			: '{% url VisKommentarHandler "urn:dagensordibekk:" %}{{ ord.key }}'
	});
});
</script>
{% endblock %}