{% extends "_master.html" %}
{% block hode %}<script src="/js/voteon.jquery.js" type="text/javascript"></script>{% endblock %}
{% block overskrift %}Ord til vurdering{% endblock %}

{% block innhold %}
<div id="message"></div>
<script type="text/javascript">var words = new Array();</script>
<ul id="ordliste">
{% for o in ord %}
	<li class="boks" id="ord-{{ o.key.id }}">
		<script type="text/javascript">words[words.length] = '{{ o.key.id }}';</script>
		<a name="a-{{ o.key.id }}">
		<h3>{{ o.navn }}
			<span class="stemmer">
				(<span class="stemmefor">{{ o.stemmerFor|length }}</span> /	<span class="stemmemot">{{ o.stemmerMot|length }}</span>)
			</span>
		</h3>
		</a>
		<p>Foreslått av {% if o.bidragsyter %}
				<a href="{% url BidragsyterHandler o.bidragsyter.key %}">{{ o.bidragsyter.visningsnavn }}</a>
			{% else %}
				{{ o.bnavn }}
			{% endif %}
		</p>
		<blockquote>{{o.beskrivelse }}</blockquote>
		<div class="errormessage"></div>
		<div class="message"></div>
		<div class="stemming">
			<a href="#" title="Stem for!" class="stemmefor">Ja</a>
			<a href="#" title="Stem mot!" class="stemmemot">Nei</a>
		</div>
		<div style="clear:both" />
	</li>
{% endfor %}
</ul>

<script type="text/javascript">
$(function() {
	$.each(words, function() { $('#ord-' + this).voteOn({ 'urlPost':'{% url StemmeHandler %}'}); });
});
</script>
{% endblock %}